body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 90vh;
    background-color: rgba(85, 170, 250, 0.548);
}
.container{
    align-self: center;
    width: fit-content;
    height: fit-content;
    background-color: rgba(255, 166, 0, 0.849);
    border-radius: 10px;
    display:flexbox;
    padding: 2vw;  
}
.screen{
    width: 40vw;
    height: 50px;
    background-color: blanchedalmond;
    border-radius: 7px;
    margin-bottom: 2vh;
}
.screen h3{
    margin: auto;
    text-align: right;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 30vw;
    overflow: scroll;
}
button{
    padding: 1.5vw;
    color: rgb(47, 0, 255);
    text-shadow: 1px 1px 6px rgb(10, 24, 223) ;
    background-color: rgba(16, 245, 16, 0.74);
    border-radius: 10px;
    width: 10vw;
    margin:0;
    font-weight: 400;
    font-size: 2.5vh;
}
button:hover{
    background-color: rgb(6, 131, 2);
}
button:active{
    background-color: rgba(16, 218, 253, 0.473);
}
/* grid settings */
.numbers{
    display: flexbox;
    flex-direction: column;
    flex-wrap: nowrap;
}
.row1,.row2,.row3,.row4,.row5{
    display: flex;
}
.lrow{
    display: flex;
    flex-direction: column;
}
.con{
    display: flex;
}
.row5 button{
    flex-grow: 2;
}

@media screen and (max-width:260px){
    .screen h3{
        padding: 0;
    }
    .screen h3{
        display: inline-block;
        font-size: 14px;
    }
}


